* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Open Sans';
  src: url(./common/opensans/opensanslight.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url(./common/opensans/opensanssemibold.ttf) format("truetype");
}

.container {
  width: 1150px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans';
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  position: relative;
}

header .header-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-wrapper .header-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.5em;
}

@media screen and (max-width: 499px) {
  header .header-wrapper .header-title {
    display: inline-block;
    text-align: center;
  }
}

header .header-wrapper .header-title .header-title-img {
  width: 150px;
  height: auto;
  margin-top: 0.5em;
  background-color: #fff;
}

header .header-wrapper .header-title .header-title-img img {
  width: 100%;
  height: 100%;
}

header .header-wrapper .header-title .header-title-text {
  width: 100%;
  height: auto;
  margin-top: 0.5em;
}

header .header-wrapper .header-title .header-title-text span {
  margin-left: 1.3em;
  text-transform: capitalize;
  font-size: 1.1em;
}

header .header-wrapper .header-navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 1039px) {
  header .header-wrapper .header-navbar {
    display: none;
  }
}

header .header-wrapper .header-navbar li i {
  margin-left: 0.4em;
}

header .header-wrapper .header-navbar li:hover a {
  background-color: #dedede;
  color: #3f98a0;
}

header .header-wrapper .header-navbar li:hover .active i {
  color: #3f98a0;
}

header .header-wrapper .header-navbar li a {
  text-decoration: none;
  color: #1c314c;
  text-transform: capitalize;
  line-height: 65px;
  font-size: 17px;
  display: inline-block;
  padding: 0 25px 0px 25px;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .header-wrapper .header-navbar li .active {
  background-color: #3f98a0;
  color: #fff;
}

header .header-wrapper .header-navbar li .active i {
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.page-header {
  width: 100%;
  height: auto;
  background-image: url(/imgs/default.jpg);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
}

.page-header .page-header-wrapper {
  width: 100%;
  display: block;
  height: auto;
  padding-top: 2em;
  padding-bottom: 3em;
}

.page-header .page-header-wrapper .page-header-title {
  width: 100%;
  display: inline-block;
  margin: 4em 0em 3em 0em;
}

.page-header .page-header-wrapper .page-header-title h1 {
  text-transform: capitalize;
  color: #fff;
  font-size: 3em;
  text-align: left;
  padding-left: 0.3em;
}

.page-header-list {
  width: 100%;
  height: 55px;
  background: #1e2736;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 791px) {
  .page-header-list {
    text-align: center;
    height: auto;
  }
}

.page-header-list .list-items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media screen and (max-width: 791px) {
  .page-header-list .list-items {
    display: inline-block;
    text-align: center;
  }
}

.page-header-list .list-items li .active {
  background-color: #787E86;
}

.page-header-list .list-items li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  line-height: 55px;
  display: inline-block;
  padding: 0 20px 0px 20px;
}

.page-header-list .list-items li a:hover {
  background-color: rgba(90, 94, 99, 0.685);
}

.mission-content {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mission-content .mission-content-wrapper {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 1em;
}

.mission-content .mission-content-wrapper .mission-head-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mission-content .mission-content-wrapper .mission-head-row i {
  color: #c2c2c2;
  font-size: 0.8em;
  margin-left: 0.8em;
}

.mission-content .mission-content-wrapper .mission-head-row li {
  margin-left: 16px;
}

.mission-content .mission-content-wrapper .mission-head-row li a {
  color: #212C42;
  text-decoration: none;
}

.mission-content .mission-content-wrapper .mission-head-row li .active {
  color: #b4a7a1;
}

.mission-content .mission-content-wrapper .mission-text-image {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 15px;
  height: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

@media screen and (max-width: 881px) {
  .mission-content .mission-content-wrapper .mission-text-image {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.mission-content .mission-content-wrapper .mission-text-image .mission-text {
  width: 100%;
  display: inline-block;
  height: auto;
}

.mission-content .mission-content-wrapper .mission-text-image .mission-text .head-text {
  display: inline-block;
}

.mission-content .mission-content-wrapper .mission-text-image .mission-text .head-text h2 {
  color: #333;
  font-size: 40px;
  line-height: 41px;
  position: relative;
  margin-bottom: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: capitalize;
}

.mission-content .mission-content-wrapper .mission-text-image .mission-text .head-text h2::after {
  position: absolute;
  bottom: -10px;
  left: 45%;
  width: 100px;
  height: 1.8px;
  content: '';
  background: #3f979f;
}

.mission-content .mission-content-wrapper .mission-text-image .mission-text .head-text h2::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100px;
  height: 1.8px;
  content: '';
  background: #3f979f;
}

.mission-content .mission-content-wrapper .mission-text-image .mission-text .p-wrapper {
  width: 100%;
  display: inline-block;
  padding-right: 1em;
}

.mission-content .mission-content-wrapper .mission-text-image .mission-text .p-wrapper p {
  margin-bottom: 20px;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 600;
  font-size: 1.1em;
  color: #333;
}

.mission-content .mission-content-wrapper .mission-text-image .mission-image {
  width: 100%;
  display: inline-block;
}

@media screen and (max-width: 881px) {
  .mission-content .mission-content-wrapper .mission-text-image .mission-image {
    padding: 1.1em;
  }
}

.mission-content .mission-content-wrapper .mission-text-image .mission-image img {
  height: auto;
  display: block;
  max-width: 100%;
  background-repeat: no-repeat;
  aspect-ratio: auto 720 / 480;
  background-size: contain;
}

.whatwedo-content {
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.whatwedo-content .whatwedo-wrapper {
  width: 100%;
  display: block;
  height: auto;
  margin-top: 2em;
  padding-bottom: 2em;
}

.whatwedo-content .whatwedo-wrapper .whatwedo-head-text {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

.whatwedo-content .whatwedo-wrapper .whatwedo-head-text h2 {
  color: #333;
  font-size: 40px;
  line-height: 41px;
  position: relative;
  margin-bottom: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.whatwedo-content .whatwedo-wrapper .whatwedo-head-text h2::after {
  position: absolute;
  bottom: -10px;
  left: 45%;
  width: 100px;
  height: 1.8px;
  content: '';
  background: #3f979f;
}

.whatwedo-content .whatwedo-wrapper .whatwedo-items {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding-bottom: 1.5em;
}

@media screen and (max-width: 881px) {
  .whatwedo-content .whatwedo-wrapper .whatwedo-items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 691px) {
  .whatwedo-content .whatwedo-wrapper .whatwedo-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 1em;
  }
}

.whatwedo-content .whatwedo-wrapper .whatwedo-items .whatwedo-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  border: 1px solid #e4e4e4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.whatwedo-content .whatwedo-wrapper .whatwedo-items .whatwedo-item:hover {
  background-color: #fff;
}

.whatwedo-content .whatwedo-wrapper .whatwedo-items .whatwedo-item:hover .item-text {
  color: #4fb697;
}

.whatwedo-content .whatwedo-wrapper .whatwedo-items .whatwedo-item .item-img {
  width: 130px;
  display: inline-block;
}

.whatwedo-content .whatwedo-wrapper .whatwedo-items .whatwedo-item .item-img img {
  width: 100%;
  height: 100%;
}

.whatwedo-content .whatwedo-wrapper .whatwedo-items .whatwedo-item .item-text {
  text-align: center;
  color: #223244;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.whatwedo-content .whatwedo-wrapper .whatwedo-items .whatwedo-item .item-text p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: inline-block;
  font-size: 1.45em;
  font-weight: 600;
  margin: 0 0 10px;
  vertical-align: middle;
}

.testing-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.testing-content .testing-wrapper {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 1em;
}

.testing-content .testing-wrapper .head-text {
  display: inline-block;
  margin-bottom: 2em;
  margin-top: 2em;
}

.testing-content .testing-wrapper .head-text h2 {
  color: #333;
  font-size: 33px;
  line-height: 41px;
  position: relative;
}

.testing-content .testing-wrapper .head-text h2::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100px;
  height: 1.8px;
  content: '';
  background: #3f979f;
}

.testing-content .testing-wrapper .p-wrapper {
  width: 100%;
  display: inline-block;
  margin-bottom: 1em;
}

.testing-content .testing-wrapper .p-wrapper p {
  margin-bottom: 20px;
  letter-spacing: 1px;
  line-height: 26px;
  font-size: 1.1em;
  font-weight: 300;
  color: #333;
}

.exp-content {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(/imgs/size_p_5_0.jpg);
  background-position: 50%;
  background-size: cover;
}

.exp-content .exp-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1em;
  padding-bottom: 1.5em;
}

.exp-content .exp-wrapper .exp-text {
  width: 50%;
  display: inline-block;
  height: auto;
  margin-top: 2em;
}

@media screen and (max-width: 881px) {
  .exp-content .exp-wrapper .exp-text {
    width: 100%;
    text-align: center;
    padding: 1em;
  }
}

.exp-content .exp-wrapper .exp-text .head-text {
  display: inline-block;
  margin-bottom: 1.3em;
}

.exp-content .exp-wrapper .exp-text .head-text h2 {
  color: #333;
  font-size: 40px;
  line-height: 41px;
  position: relative;
  margin-bottom: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}

.exp-content .exp-wrapper .exp-text .head-text h2::after {
  position: absolute;
  bottom: -10px;
  left: 45%;
  width: 100px;
  height: 1.8px;
  content: '';
  background: #3f979f;
}

.exp-content .exp-wrapper .exp-text .head-text h2::after {
  left: 0;
  bottom: -15px;
}

.exp-content .exp-wrapper .exp-text .p-wrapper {
  width: 100%;
  display: inline-block;
  padding-right: 1em;
}

.exp-content .exp-wrapper .exp-text .p-wrapper p {
  margin-bottom: 1.3em;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  color: #fff;
}

footer {
  width: 100%;
  height: auto;
  background-color: #1E2736;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-wrapper {
  width: 100%;
  display: inline-block;
  height: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

footer .footer-wrapper .footer-items {
  width: 100%;
  display: -ms-grid;
  display: grid;
  height: auto;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  margin-bottom: 1em;
}

@media screen and (max-width: 691px) {
  footer .footer-wrapper .footer-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

footer .footer-wrapper .footer-items .footer-item {
  width: 100%;
  display: inline-block;
  color: #fff;
}

footer .footer-wrapper .footer-items .footer-item:nth-child(2) {
  padding-top: 3.3em;
}

footer .footer-wrapper .footer-items .footer-item .item-img {
  width: 230px;
  display: inline-block;
}

footer .footer-wrapper .footer-items .footer-item .item-img img {
  width: 100%;
  height: 100%;
}

footer .footer-wrapper .footer-items .footer-item .item-text {
  width: 100%;
  margin-top: 1.1em;
}

footer .footer-wrapper .footer-items .footer-item .item-head-text {
  width: 100%;
  display: inline-block;
  color: #fff;
}

footer .footer-wrapper .footer-items .footer-item .item-head-text h2 {
  font-size: 25px;
  position: relative;
  margin: 0 0 25px 0;
  padding: 0 0 20px 0;
  color: #333;
  font-size: 40px;
  line-height: 41px;
  position: relative;
  margin-bottom: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  font-size: 1.5em;
}

footer .footer-wrapper .footer-items .footer-item .item-head-text h2::after {
  position: absolute;
  bottom: -10px;
  left: 45%;
  width: 100px;
  height: 1.8px;
  content: '';
  background: #3f979f;
}

footer .footer-wrapper .footer-items .footer-item .item-head-text h2::after {
  left: 0;
  bottom: 0px;
}

@media screen and (max-width: 689px) {
  footer .footer-wrapper .footer-items .footer-item .item-head-text h2::after {
    left: 42%;
  }
}

footer .footer-wrapper .footer-items .footer-item .item-list {
  width: 100%;
  display: inline-block;
  list-style: none;
}

footer .footer-wrapper .footer-items .footer-item .item-list li {
  margin-bottom: 1em;
}

footer .footer-wrapper .footer-items .footer-item .item-list li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: .5px;
}

footer .footer-wrapper .footer-items .footer-item .item-list li a:hover {
  border-bottom: 1px solid #fff;
}

footer .footer-wrapper .footer-items .footer-item .item-social-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media screen and (max-width: 881px) {
  footer .footer-wrapper .footer-items .footer-item .item-social-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .footer-wrapper .footer-items .footer-item .item-social-list li {
  margin-right: 0.8em;
  background-color: gray;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

footer .footer-wrapper .footer-items .footer-item .item-social-list li:hover:nth-child(1) {
  background: #333;
}

footer .footer-wrapper .footer-items .footer-item .item-social-list li:hover:nth-child(2) {
  background: #1095F7;
}

footer .footer-wrapper .footer-items .footer-item .item-social-list li:hover:nth-child(3) {
  background: #63C7FF;
}

footer .footer-wrapper .footer-items .footer-item .item-social-list li:hover:nth-child(4) {
  background: #0075B5;
}

footer .footer-wrapper .footer-items .footer-item .item-social-list li:hover:nth-child(5) {
  background-color: #dd3434;
}

footer .footer-wrapper .footer-items .footer-item .item-social-list li a {
  width: 40px;
  height: 40px;
  display: inline-block;
  padding: 0.5em;
  text-align: center;
}

footer .footer-wrapper .footer-items .footer-item .item-social-list li a i {
  font-size: 1.5em;
  color: #fff;
  background-color: transparent;
}

footer .footer-wrapper .footer-copyright {
  width: 100%;
  display: inline-block;
  height: auto;
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid #4b525e;
}

footer .footer-wrapper .footer-copyright .p-wrapper {
  width: 100%;
  color: #fff;
  font-size: 0.8em;
  margin-top: 1.5em;
}

footer .footer-wrapper .footer-copyright .p-wrapper p {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;
  padding: 0 100px;
  letter-spacing: .5px;
  color: white;
}

footer .footer-wrapper .footer-copyright .p-wrapper span {
  border-bottom: 1px solid #fff;
}

.sideMenu {
  position: fixed;
  z-index: 111;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  padding: 15px;
  background-color: #1E2736;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  padding-top: 10px;
}

@media screen and (max-width: 691px) {
  .sideMenu {
    width: 100%;
  }
}

.sideMenu .closebtn {
  color: #fff;
  font-size: 3em;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sideMenu .closebtn:hover {
  color: #3f98a0;
}

.sideMenu ul {
  margin-top: 0.5em;
}

.sideMenu ul li {
  list-style-type: none;
  padding: 1em;
  border-bottom: 1px solid gray;
  text-align: left;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
}

.sideMenu ul li i {
  width: 25px;
  height: 20px;
}

.sideMenu ul li:hover {
  color: #3f98a0;
  padding-left: 2em;
}

.sideMenu ul li:hover a {
  color: #3f98a0;
}

.sideMenu ul li a {
  line-height: 25px;
  font-size: 1.1em;
  text-decoration: none;
  font-family: 'Open Sans';
  color: #fff;
  padding-top: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: capitalize;
}

.closeButton {
  display: none;
  position: absolute;
  right: 2em;
  top: 1em;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}

@media screen and (max-width: 1039px) {
  .closeButton {
    display: inline-block;
  }
}
/*# sourceMappingURL=style.css.map */