@mixin h2 () {
    color: #333;
    font-size: 40px;
    line-height: 41px;
    position: relative;
    margin-bottom: 1em;
    font-family: $font-bold;

    &::after{
        position: absolute;
        bottom: -10px;
        left: 45%;
        width: 100px;
        height: 1.8px;
        content: '';
        background: #3f979f;
    }
}
